name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ "*" ]

jobs:
  build:
    name: Java ${{ matrix.java }} | Gradle ${{ matrix.gradle }} | ${{ matrix.mysql }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [ '17', '21', '25' ]
        gradle: [ '8.5', '8.10.2', '9.2.1' ]
        mysql: [ 'mysql:8.0.33', 'mysql:latest' ]
      exclude:
        - java: '25'
          gradle: '8.5'
        - java: '25'
          gradle: '8.10.2'

    steps:
    - uses: actions/checkout@v6

    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v5
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'

    - name: Setup Gradle ${{ matrix.gradle }}
      uses: gradle/actions/setup-gradle@v5
      with:
        gradle-version: ${{ matrix.gradle }}

    - name: Run Tests
      run: gradle check -Djava.toolchain.version=${{ matrix.java }} -Dtest.mysql.image="${{ matrix.mysql }}" --info
